.cabecalho h1 {
  text-align: center;
  font-size: 65px;
  margin-top: 20px;
  font-family: "Rubik Doodle Shadow", system-ui;
  color: #FF6D00;
}

figure {
  float: right;
  margin-left: 20px;
  margin-bottom: 30px;
  margin-top: 80px;
}

aside {
  width: 200px;
  margin-top: 80px;
  background-color: #f5f0f0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(240, 60, 60, 0.692);
  color: rgba(255, 255, 255, 0.897);
}

ol li {
  margin: 10px 0;
}

ol li a {
  display: inline-block;
  text-decoration: none;
  background-color: #ed9404;
  color: rgb(1, 0, 0);
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

ol li a:hover {
  background-color: #e67e22;
  transform: scale(1.05);
}


#inicio {
  margin-top: -280px;
  margin-left: 270px;
  padding: 0;
}


#origem-historia {
  margin-top: -400px;
  margin-left: 40px;
  padding: 0;
}


figcaption {
  color: rgb(238, 255, 7);
  font-style: oblique;
}


#estilo-mc {
  margin-top: -350px;


}

#funcao-mc {
  margin-top: 160px;


}

ul {
  list-style-type: none;

}

ol {
  list-style-type: none;
}